@import "weather.css";

body {
    background-color: rgb(228, 168, 95);
}

.navigation {
    background-color: rgb(129, 103, 103);
    border-radius: 14px;
    padding: 4px 8px;
    border: solid white 1px;
    box-shadow: 3px 3px 5px black;
    display: flex;
    /* gap: 30px; */
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    font-family: cursive;
    font-size: xx-large;
    text-decoration: none;
    margin: 0 auto;
}

.tv-book {
    background-color: rgb(198, 198, 253);
}

.weather {
    background-color: rgb(154, 235, 154);
}

.others {
    background-color: rgb(192, 188, 188);
}

.othersForm {
    margin-top: 30px;
}

.text {
    margin-top: 90px;
}

a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    /* padding: 4px; */
    color: bisque
}

.isActive {
    color: white;
    font-weight: 900;
}

a:hover {
    color: white;
}

#paper-view {
    text-decoration: none;
    margin-right: 30px;
}


#date {
    position: absolute;
    left: 950px;
    top: 110px;
    font-family: sans-serif;
    font-size: 23px;
    color: brown;
    -webkit-text-stroke-width: medium;
    display: none;
}

#dateBook {
    position: absolute;
    left: 950px;
    top: 130px;
    font-family: sans-serif;
    font-size: 23px;
    color: rgb(61, 42, 165);
    -webkit-text-stroke-width: medium;
    display: none;
}

#movie-roll {
    position: absolute;
    left: 0px;
    width: 660px;
    top: -30px;
    opacity: 0.3;
}

#movie-roll-right {
    position: absolute;
    left: 1240px;
    width: 660px;
    top: -30px;
    opacity: 0.3;
}

.input-wraper {
    width: 100%;
    display: block;
    position: absolute;
    top: 20%;
}

.tvText {
    width: 30%;
    height: 510px;
    box-shadow: 0px 0px 10px 0px black;
    padding: 15px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    /* border-radius: 15px; */
    background-color: rgb(250, 241, 227);
    transition: box-shadow 0.3s, transform 0.3s;
}

.tvText:hover {
    box-shadow: 0 0 30px 0 black;
    transform: translateY(-10px);
}

.calcText {
    width: 70%;
    height: 370px;
    padding: 10px;
}

;

#calcBtn {
    display: inline;
}


.calc-container {
    display: inline;
    top: 10px;
    position: absolute;
    margin-left: 110px;
    width: 400px;
}

.input {
    display: inline;
}


h1 {
    color: bisque;
    font-family: cursive;
}

#outputArea {
    margin-left: 200px;
}

.convertBtn {
    z-index: 100;
    position: absolute;
    margin-top: 14%;
    width: 197px;
    height: 70px;
    border-radius: 14px;
    cursor: pointer;
    color: brown;
}


.convertBtn:hover {
    background-color: brown;
    color: bisque;
}

.button {
    transition: all 0.8s ease;
}

.mainBtn {
    font-family: "Titan One", sans-serif;
    font-size: 40px;
}

textarea {
    resize: none;
    outline: none;
}

#convertBtnTvBook {
    z-index: 100;
    position: absolute;
    margin-top: 14%;
    width: 197px;
    height: 70px;
    border-radius: 14px;
    cursor: pointer;
    color: rgb(61, 42, 165);
    cursor: pointer;
}

#convertBtnTvBook:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(191, 238, 250);
}

.notify {
    position: absolute;
    left: 40%;
    top: 50%;
    max-width: 30%;
    color: white;
    font-family: cursive;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 10px 15px;
    display: none;
    border: solid 0.5px white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: translate(30px);
    animation: fadeInMove 1s ease-out forwards;
    animation-delay: 0.3s;
    z-index: 100;
}

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateX(-70px)
    }
}

.close {
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
}

.close span {
    cursor: pointer;
    font-size: 23px;
    color: gray;
    font-family: cursive;
}

.arrow-container {
    display: inline;
}

.arrow {
    width: 100px;
    display: inline;
    position: fixed;
    top: 37%;
    height: 40px;
    left: 36%;
}



.buttons {
    position: absolute;
    top: 730px;
    left: 57px;
}


.reset {
    position: relative;
    left: 50%;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.reset:hover {
    background-color: #55411b;
    color: antiquewhite;
    cursor: pointer;
}

.copyCode {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.tvRename {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.renamedTvMessage {
    font-family: cursive;
    display: none;
}

.copyIssueMessage {
    position: absolute;
    margin-left: 10px;
    width: 280px;
    height: 70px;
}

.weekend {
    width: 140px;
    display: none;
}

.weekendLabel {
    margin-left: 310px;
}

.clear1 {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.clear2 {
    position: relative;
    left: 510%;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.submitAddTvData {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.selectFile {
    position: relative;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-bottom: -10px;
}

.selectFileBook {
    position: relative;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-bottom: 30px;
    left: 28.3%;
}

.submitAddTvData:hover,
.clear2:hover,
.clear1:hover,
.tvRename:hover,
.copyCode:hover,
.selectFile:hover,
.selectFileBook:hover {
    background-color: #55411b;
    color: antiquewhite;
    cursor: pointer;
}

.calcBtn {
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.calcBtn:hover {
    background-color: #55411b;
    color: antiquewhite;
}

.calcReset {
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.calcReset:hover {
    background-color: #55411b;
    color: antiquewhite;
}

.reset-all {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background: brown;
    color: white;
    font-family: "Titan One", sans-serif;
    font-size: 28px;
    border: solid;
    margin-right: 440px;
}


.reset-all:hover {
    cursor: pointer;
    background-color: white;
    color: brown;
}

#tvWeek::backdrop {
    transition: all 1s ease-in-out;
}


.radio-container {
    display: inline;
    position: absolute;
    top: -100px;
    left: 70rem;
}

@keyframes notifyBorderAnimation {
    0% {
        border-color: rgb(252, 175, 175);
        background-color: rgb(248, 158, 158);
    }

    10% {
        border-color: rgb(134, 10, 10);
        background-color: white;
    }

    20% {
        border-color: rgb(252, 175, 175);
        background-color: rgb(248, 158, 158);
    }

    30% {
        border-color: rgb(134, 10, 10);
        background-color: white;
    }

    40% {
        border-color: rgb(252, 175, 175);
    }

    50% {
        border-color: rgb(134, 10, 10);
    }

    60% {
        border-color: rgb(252, 175, 175);
    }

    70% {
        border-color: rgb(134, 10, 10);
    }

    80% {
        border-color: rgb(252, 175, 175);
    }

    90% {
        border-color: rgb(134, 10, 10);
    }

    95% {
        border-color: rgb(252, 175, 175);
    }

    100% {
        border-color: rgb(134, 10, 10);
    }
}

.radio-container-notify {
    border: solid 3px rgb(134, 10, 10);
    animation-name: notifyBorderAnimation;
    animation-duration: 1s;
}

summary {
    color: white;
    font-family: serif;
    font-style: oblique;
}

.summary {
    margin-top: 3px;
    background-color: bisque;
    width: 24rem;
    padding: 4px;
    border-radius: 3px;
    font-family: cursive;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    border: 1px solid brown;
}

select {
    background-color: antiquewhite;
    font-family: cursive;
    font-size: 14px;
    font-weight: bolder;
    padding: 1px;
    border-radius: 4px;
    border: solid rgb(129, 103, 103) 1px;
    color: #55411b;
    box-shadow: 3px 3px 5px gray;
}

div.radio-container span {
    font-family: cursive;
    color: rgb(250, 241, 227);
}

div.radio-container span span {
    color: brown;
    font-weight: bolder;
    /* text-transform: uppercase; */
}

.responseMessage {
    position: relative;
    left: 27%;
    width: 330px;
    height: 200px;
    margin-top: -25px;
    margin-right: 10px;
}

.outputTvDate {
    margin-top: 10px;
}

.reportMessageTitleContainer {
    margin-bottom: -34px;
    display: flex;
    justify-content: center;
}

.reportMessageTitle,
.reportMessageTitle1 {
    font-size: 30px;
    font-family: cursive;
    color: rgb(3, 82, 3);
}

.reportMessageTitle {
    margin-left: 400px;
}

.reportMessageTitle1 {
    margin-left: 130px;
}

hr {
    margin-top: 14px;
    border: 1px solid white;
}

.subTitle {
    font-family: monospace;
    margin-bottom: -27px;
}

.tvRadio {
    width: 20px;
    height: 20px;
}

.tvRadioLable {
    font-size: 24px
}

.mt {
    margin-top: 54px;
}

textarea:focus {
    background-color: white;
}

input:focus {
    background-color: rgb(245, 234, 221);
}

.spinner {
    width: 15px;
    height: 15px;
    border-top: 3px solid brown;
    border-right: 3px solid brown;
    border-bottom: 3px solid brown;
    border-left: 3px solid rgba(0, 0, 255, 0);
    border-radius: 15px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.logo,
.logo1,
.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 34px;
    height: 34px;
    border-top: 3px solid rgb(241, 151, 40);
    border-bottom: 3px solid rgb(241, 151, 40);
    border-radius: 15px;
    animation: spin 5s linear infinite;
}

.logo1 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.logo2 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border-top: 3px solid rgb(241, 151, 40);
    border-bottom: 3px solid rgb(241, 151, 40);
}

.logo3 {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: white;
}

.convert {
    animation: onConvertAnimation 1s ease-out forwards;
    animation-duration: 0.5s;
}

@keyframes onConvertAnimation {

    0% {
        transform: rotate3d(3, 4, 1, 10deg);
    }

    25% {
        transform: rotate3d(-3, -4, -1, 10deg);
    }

    50% {
        transform: rotate3d(1.5, 2, 0.5, 5deg);
    }

    75% {
        transform: rotate3d(-1.5, -2, -0.5, 5deg);
    }

    100% {
        transform: rotate3d(0 0 0 0deg);
    }

}
