@import "weather.css";

body {
    background-color: rgb(214, 141, 51);
}

header {
    background-color: rgb(129, 103, 103);
    border-radius: 14px;
    padding: 4px;
    border: solid white 1px;
}

.tv-book {
    background-color: rgb(198, 198, 253);
}

.weather {
    background-color: rgb(134, 221, 134);
}

.others {
    background-color: rgb(192, 188, 188);
}

.othersForm {
    margin-top: 30px;
}

.text {
    margin-top: 90px;
}

a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    padding: 4px;
    color: bisque
}

a:hover {
    color: rgb(118, 198, 245);
}

.isActive {
    color: rgb(118, 198, 245);
}

#paper-view {
    text-decoration: none;
    margin-right: 30px;
}


#date {
    position: absolute;
    left: 950px;
    top: 110px;
    font-family: sans-serif;
    font-size: 23px;
    color: brown;
    -webkit-text-stroke-width: medium;
    display: none;
}

#dateBook {
    position: absolute;
    left: 950px;
    top: 130px;
    font-family: sans-serif;
    font-size: 23px;
    color: rgb(61, 42, 165);
    -webkit-text-stroke-width: medium;
    display: none;
}

#movie-roll {
    position: absolute;
    left: 0px;
    width: 660px;
    top: -30px;
    opacity: 0.3;
}

#movie-roll-right {
    position: absolute;
    left: 1240px;
    width: 660px;
    top: -30px;
    opacity: 0.3;
}

header {
    justify-self: center;
    font-family: cursive;
    font-size: xx-large;
    text-decoration: none;
}

.input-wraper {
    width: 100%;
    display: block;
    position: absolute;
    top: 20%;
}

.tvText {
    width: 30%;
    height: 510px;
    box-shadow: 0px 0px 30px 0px;
    padding: 15px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    /* border-radius: 15px; */
    background-color: rgb(250, 241, 227);
}

.calcText {
    width: 70%;
    height: 370px;
    padding: 10px;
}

;

#calcBtn {
    display: inline;
}


.calc-container {
    display: inline;
    top: 10px;
    position: absolute;
    margin-left: 110px;
    width: 400px;
}

.input {
    display: inline;
}


h1 {
    color: bisque;
    font-family: cursive;
}

#outputArea {
    margin-left: 200px;
}

#convertBtn {
    z-index: 100;
    position: absolute;
    margin-top: 14%;
    width: 197px;
    height: 70px;
    border-radius: 14px;
    cursor: pointer;
    font-family: fantasy;
    font-size: xxx-large;
    color: brown;
    /* background-image: url(../images/arrow.png); */
}


#convertBtn:hover {
    background-color: brown;
    color: bisque;
}


#convertBtnTvBook {
    z-index: 100;
    position: absolute;
    margin-top: 14%;
    width: 197px;
    height: 70px;
    border-radius: 14px;
    cursor: pointer;
    font-family: fantasy;
    font-size: xxx-large;
    color: rgb(61, 42, 165);
    cursor: pointer;
}

#convertBtnTvBook:hover {
    background-color: rgb(61, 42, 165);
    color: rgb(191, 238, 250);
}

.notify {
    position: absolute;
    left: 50rem;
    top: 5.5rem;;
    background: red;
    color: white;
    font-family: cursive;
    text-transform: uppercase;
    padding: 10px;
    display: none;
    border: solid 2px;
    border-radius: 10px;
}

.close {
    position: absolute;
    left: 49rem;
    top: 4.1rem;
    color: white;
    font-family: cursive;
    padding: 10px;
    display: none;
    font-size: 23px;
    cursor: pointer;
}

.arrow-container {
    display: inline;
}

.arrow {
    width: 100px;
    display: inline;
    position: fixed;
    top: 37%;
    height: 40px;
    left: 36%;
}



.buttons {
    position: absolute;
    top: 730px;
    left: 57px;
}


.reset {
    position: relative;
    left: 50%;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.reset:hover {
    background-color: #55411b;
    color: antiquewhite;
    cursor: pointer;
}

.copyCode {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

.tvRename {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.renamedTvMessage {
    font-family: cursive;
    display: none;
}

.copyIssueMessage {
    position: absolute;
    margin-left: 10px;
    width: 280px;
    height: 70px;
}

.weekend {
    width: 140px;
    display: none;
}

.weekendLabel {
    margin-left: 310px;
}

.clear1 {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.clear2 {
    position: relative;
    left: 510%;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.submitAddTvData {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-right: 10px;
}

.selectFile {
    position: relative;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-bottom: -10px;
}

.selectFileBook {
    position: relative;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
    margin-bottom: 30px;
    left: 28.3%;
}

.submitAddTvData:hover,
.clear2:hover,
.clear1:hover,
.tvRename:hover,
.copyCode:hover,
.selectFile:hover,
.selectFileBook:hover {
    background-color: #55411b;
    color: antiquewhite;
    cursor: pointer;
}

#calcBtn {
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

#calcBtn:hover {
    background-color: #55411b;
    color: antiquewhite;
}

#resetCalc {
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #a37521;
}

#resetCalc:hover {
    background-color: #55411b;
    color: antiquewhite;
}

.reset-all {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background: brown;
    color: white;
    font-family: fantasy;
    font-size: xx-large;
    border: solid;
    margin-right: 440px;
}


.reset-all:hover {
    cursor: pointer;
    background-color: white;
    color: brown;
}


.radio-container {
    display: inline;
    position: absolute;
    top: -100px;
}

.radio-container-notify {
    /* display: inline; */
    /* position: absolute; */
    /* top: -153px; */
    /* left: 72.55%; */
    border: solid 3px red;
    /* padding: 10px; */
}

.responseMessage {
    position: relative;
    left: 27%;
    width: 330px;
    height: 200px;
    margin-top: -25px;
    margin-right: 10px;
}

.outputTvDate {
    margin-top: 10px;
}

.reportMessageTitleContainer {
    margin-bottom: -34px;
    display: flex;
    justify-content: center;
}

.reportMessageTitle,
.reportMessageTitle1 {
    font-size: 30px;
    font-family: cursive;
    color: green;
}

.reportMessageTitle {
    margin-left: 400px;
}

.reportMessageTitle1 {
    margin-left: 130px;
}

hr {
    margin-top: 14px;
    border: 1px solid white;
}

.subTitle {
    font-family: monospace;
    margin-bottom: -27px;
}

.tvRadio {
    width: 20px;
    height: 20px;
}

.tvRadioLable {
    font-size: 24px
}

.mt {
    margin-top: 54px;
}