.weather-container .text {
  width: 400px;
  height: 400px;
  border-radius: 40px;
  border: solid #a0a0e1 1px;
  margin: 90px auto 0 auto;
}

#buttons-container {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
}

#getBtnBG {
  left: 0;
}

#getBtnBG {
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  background-color: antiquewhite;
  color: #a37521;
}

#getBtnBG:hover {
  background-color: #55411b;
  color: antiquewhite;
}

.weather-container {
  margin: auto;
  width: 20%;
}

#exchangeRates {
  position: absolute;
  top: 94%;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  background-color: antiquewhite;
  color: #a37521;
}

#exchangeRates:hover {
  background-color: #55411b;
  color: antiquewhite;
}
